!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/demo.css')
    link(rel='stylesheet', href='/stylesheets/zTreeStyle/zTreeStyle.css')
    script(language='javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(language='javascript',src='/javascripts/jquery.json.js')
    script(language='javascript', src='/javascripts/ztree.js')
    script(language='javascript', src='/javascripts/jscolor.js')
    script(language='javascript', src='/javascripts/tree.js')
    script(language='javascript', src='/javascripts/canvas.js')
  body!= body